@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --primary: #00a6a6;
    --secondary: #ffd700;
    --primary-light: #d6ffff;
    touch-action: pan-x pan-y;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    /* background-color: whitesmoke;  */
    background: url("media/fade.jpg");
    background-size: 100vw 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
}

nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 0.1px solid rgb(231, 237, 241);
    box-shadow: 0 4px 35px 25px rgba(137, 204, 204, 0.6) inset;

    /* box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.1) inset; */
    width: 100vw;
    background-color: transparent; 
}

nav .logo {
    text-shadow: 1px 1px #333;
    display: flex;
    justify-content: left;
    /* align-items: center; */
    margin-left: 17px;
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* align-items: end; */
    /* justify-content: right; */
    /* align-items: center; */
}

nav li {
    margin-inline: 1rem;
} 

/* nav {
    right: 0;
    width: 100vw;
    list-style-type: none;
    padding: 1rem 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    text-align: right;
    border-bottom: 0.1px solid rgb(231, 237, 241);
    box-shadow: 0 2px 50px 0 rgba(0,0,0,.1);
}

nav .logo {
    font-size: 1.1rem;
    text-shadow: 1px 1px #333;
    display: block;
    text-align: left;
}

nav li {
    display: inline-block;
    margin-inline: 1rem;
} */

nav li a {
    text-decoration: none;
    color: black;
    padding: 0.4rem;
}

nav li a, .animate span {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 3px;
}

nav li a:hover {
    color: var(--primary);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    transform: translate3d(0, 0, 0);
}

.sidebar li {
    margin: 16px 16px;
    /* width: 100%; */
}

.sidebar li:first-child {
    margin-right: auto;
}

.sidebar a {
    text-decoration: none;
}

.menu-btn {
    display: none;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3.4rem);
}

.animate {
    text-align: center;
    margin: 0 30px;
    text-wrap: wrap;
}

h1 {
    font-size: 80px;
}

.animate span {
    color: var(--primary);
    font-weight: 600;
}

.static-txt, .dynamic-txt {
    font-size: 2.1rem;
}

.title {
    margin: 0 auto;
    width: 60%;
    height: 10%;
    /* width: 29rem;
    height: 4rem; */
    text-align: center;
    border: 3px solid var(--primary);
    border-radius: 10rem;
    font-weight: 700;
    font-size: 48px;
    /* font-size: 3rem; */
    text-transform: uppercase;
    font-style: italic;
    display: flow-root;
}

.project-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* width: 80vw; */
}

.project-box .container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.arrow {
    width: 80px;
    height: 80px;
    cursor: pointer;   
}

.frame {
    width: 60vw;
    height: 70vh;
    overflow: hidden;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
}

.slider {
    display: flex;
    transition: all 0.7s ease;
}

.s-img {
    width: 1000px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
}

.s-img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro-sec {
    background-color: var(--primary-light);
    border: 1px solid var(--secondary);
    margin: 3rem auto;
    width: 80%;
    height: fit-content;
    /* width: fit-content;
    height: 80vh; */
    display: flow-root;
}

.img-block {
    display: flex;
    max-width: 500px;
    max-height: 500px;
    margin: 13px 13px;
}

.left {
    float: left;
    /* margin-right: 2rem; */
}

.img-block~p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    text-align: justify;
    margin: 16px 16px 0;
}

.intro-sec a, .credits a {
    text-underline-offset: 4px;
    color: var(--primary);
    font-style: italic;
}

a:hover:not(nav a) {
    text-shadow: 2px 2px rgba(0,0,0,0.1);
}

.contact-card {
    margin: 3rem 3.5rem 0;
    height: fit-content;
    padding-bottom: 3rem;
    padding-top: 3rem;
    /* border: 2px solid #d6ffff;
    background-color: rgb(251, 244, 201);
    color: #00a6a6; */
}

.ca-main {
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-weight: 500;
    /* margin-top: auto; */
    flex-wrap: wrap;
}

.ca-main-item {
    display: flex;
    margin: 1rem 3rem;
}

.dotted-circle {
    border: 4px dotted var(--primary);
    width: 180px;
    height: 180px;
    border-radius: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ca-main-item:nth-child(even) {
    border: 4px dotted var(--secondary);
}

.ca-img {
    width: 100px;
    height: 100px;
}

.credits {
    height: max-content;
    line-height: 28px;
    text-align: center;
    padding: 0.2rem 0;
    background-color: var(--primary-light);
    box-shadow: 0 2px 30px #9cffff; 
    font-weight: 500;
}

.no-scroll {
    overflow: hidden;
}

@media(max-width: 800px) {
    .hideonmobile {
        display: none;
    }
    .menu-btn {
        display: inline-block;
    }

    nav {
        font-size: 24px;
        box-shadow: 0 4px 35px 25px rgba(137, 204, 204, 0.6) inset;
        /* background-color: rgb(137, 204, 204); */
    }

    h1 {
        font-size: 45px;
    }

    .static-txt, .dynamic-txt {
        font-size: 20px;
    }

    .title {
        font-size: 20px;
    }

    .img-block~p {
        font-size: 15px;
    }

    .img-block {
        margin: 13px 13px 13px 13px;
        width: 50%;
    }

    .clear {
        clear: right;
    }

    .project-box .container {
        gap: 20px;
    }

    .arrow {
        width: 40px;
        height: 40px;
    }

    .ca-main-item {
        margin: 5px 5px;
    }

    .ca-img {
        width: 35px;
        height: 35px;
    }

    .dotted-circle {
        width: 100px;
        height: 100px;
        border: 2px dotted var(--primary);
    }

    .ca-main-item:nth-child(even) {
        border: 2px dotted var(--secondary);
    }

    body {
        background: url("media/fade_small.jpg");
    }

}